---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.page-header { 
    height: 100vh;
    min-height: 100vh;
    text-align: left;
    background-color: #5d3a11;
    background-image: url({{ site.baseurl }}/assets/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'Domine', serif;
}

.project-name { max-width: 50vw; }

.project-tagline { width: 50vw; margin-top: 3em; }
.project-subtitle { font-family: 'Bonheur Royale', cursive; margin-top: 2em; margin-bottom: 0.1em; font-size: 3em; opacity: 0.7;}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {color: #5d3a11; font-family: 'Domine', serif;}

.main-content h2 {padding-top: 30vh; padding-bottom: 10vh; font-family: 'Bonheur Royale', cursive; font-size: 5em; border-top: 1px solid #5d3a112e;}