---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.page-header { 
    height: 100vh;
    min-height: 100vh;
    text-align: left;
    padding: 4rem 0;
    background-color: #5d3a11;
    background-image: url({{ site.baseurl }}/assets/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    margin-bottom: 10vh;
    font-family: 'Domine', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container { width: 52rem; max-width: 52rem;}

.project-name { font-family: 'Cinzel', serif; font-weight: 500;}

.project-subtitle { margin-top: 3rem; margin-bottom: 2rem; font-size: 1.5rem; align-self: flex-start; font-family: 'Cinzel', serif; font-weight: 500;}

.main-content { padding: 0 6rem;}

.main-content h1, .main-content h2, .main-content h3, .main-content h5, .main-content h6 {color: #5d3a11; font-family: 'Domine', serif;}

.main-content h1 {font-family: 'Cinzel', serif; font-size: 2rem; font-weight: 500;}
.main-content h2 {font-family: 'Bonheur Royale', cursive; font-size: 5rem;}
.main-content h3 { font-family: 'Cinzel', serif; font-size: 1rem; font-weight: 500;}
.main-content h4 {color: #5d3a11; font-size: 2rem;}

.main-content p { text-align: justify;}

.book-section {
    background-color: #ffeb99; /* Pastel yellow beige color */
    background-image: url({{ site.baseurl }}/assets/img/fond_section.jpg); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; 
    width: 100vw;
    height: 80vh; /* 100% of viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bonheur Royale', cursive; /* Google Font */
    position: relative; /* Stay in the flow of the document */
    left: 50%; /* Center horizontally */
    right: 50%; /* Ensure full width */
    margin: 10vh -50vw;
}

.book-title {
    z-index: 1;
    position: relative;
    max-width: 52rem;
    width: 52rem;
}

.book-subtitle {
    z-index: 1;
    position: relative;
    max-width: 52rem;
    width: 52rem;
    font-family: 'Cinzel', serif;
    color: #5d3a11;
}